/*Resets*/
*{
    font-family: Corbel, sans-serif;
   margin: 0;
}

main{
    display: flex;
    justify-content: center;
    
}



/*Styling Header*/
header{
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 0.6 em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6vh;
    border-bottom:  1px solid #fb8500;
    grid-column: 1 / -1;
    padding: 50px 0 50px 0;
   color: white;
}

header::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fb8500;
}

header, footer {
    text-align: center;
    background-color: #023047;
  }


/*Styling Question-Cards */ 
.q-cards{
    display: block;
    margin: 20px;
}

.q-card{
    display: block;
    background-color: linear-gradient(#219ebc) ;
    border-radius: 8px;
    height: 150px;
    width: 300px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.q-card::hover{
    height: 170px;
    width: 310px;;
    background-color: #219ebc;
    color: aliceblue;
}

/* styling questions */
h2{
    padding: 20px;
    font-weight: 200;  
    text-align: center;
    font-size: 120%;
    color: #023047;
}

p{
    text-align: center;
    line-height: 5.6vh;
}

#question1{
}

#question2{
}

#question3{
}

/* styling Button */
button{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    letter-spacing: 0.5px;
    word-spacing: 0.4 em;
    text-transform: uppercase;
}

button:hover{
    background-color: #fb8500;
}

/*Styling Footer with Navbar*/
footer{
    position: fixed;
    background-color: #023047;
}