@import "global.css";
@import "headerstyles.css";
@import "cardstyles.css";
@import "footerstyles.css";

:root {
  --primary: #fb8500;
  --secondary: #023047;
  --third: #ffb703;
  --font1: "Corbel", sans-serif;
  --font2: "Merriweather", serif;
}
